<footer>
    
    <div class="bottom-footer">
        <h3>Get Started</h3>
 <ul>
  <a href=""><li>Tutorials</li></a>
  <a href=""><li>Resources</li></a>
  <a href=""><li>Guides</li></a>
  <a href=""><li>Examples</li></a>
  <a href=""><li>Docs</li></a>
 </ul>
    </div>
 
    <div class="bottom-footer">
      <h3>Technologies</h3>
      <ul>
       <a href=""><li>Artificial Intelligence</li></a>
       <a href=""><li>Big Data</li></a>
       <a href=""><li>Machine Learning</li></a>
       <a href=""><li>Internet of Things</li></a>
       <a href=""><li>Deep Learning</li></a>
       <a href=""><li>Block Chain</li></a>
       <a href=""><li>VFX</li></a>
       <a href=""><li>Cyber Security</li></a>
       <a href=""><li>App Development</li></a>
       <a href=""><li>Web Technologies</li></a>
      </ul>
    </div>
 
    <div class="bottom-footer">
      <h3>Programming Languages</h3>
      <ul>
       <a href=""> <li>Python</li></a>
       <a href=""><li>Java</li></a>
       <a href=""><li>R Programming</li></a>
       <a href=""><li>PHP</li></a>
       <a href=""><li>Scala</li></a>
       <a href=""><li>Spark</li></a>
       <a href=""><li>.Net</li></a>
       <a href=""><li>Go Lange</li></a>
       <a href=""><li>Frame Works</li></a>
       <a href=""><li>Many More</li></a>
      </ul>
    </div>
 
 
 <div class="bottom-footer">
   <h3>Tools</h3>
   <ul>
     <a href=""><li>Flutter</li></a>
     <a href=""><li>Fusion 360</li></a>
     <a href=""><li>Auto cad</li></a>
     <a href=""><li>Eagle cad</li></a>
     <a href=""><li>Premier Pro</li></a>
     <a href=""><li>Arduino IDE</li></a>
     <a href=""><li>WordPress</li></a>
     <a href=""><li>Android Studio</li></a>
     <a href=""><li>Git Hub</li></a>
     <a href=""><li>Many More</li></a>
   </ul>
 </div>
 
 <div class="bottom-footer">
   <h3>Others</h3>
 
   <ul>
     <a href=""><li>Sports</li></a>
     <a href=""><li>Movies</li></a>
     <a href=""><li>Fine Arts</li></a>
     <a href=""><li>Singing</li></a>
     <a href=""><li>Dance</li></a>
     <a href=""><li>Music</li></a>
     <a href=""><li>Fashion</li></a>
     <a href=""><li>Architecture</li></a>
     <a href=""><li>Photography</li></a>
     <a href=""><li>Many More</li></a>
   </ul>
 </div>
 </footer>