<div class="kit">
    <h3>Keep in touch</h3>
    <ul>
        <li><a href="#" class="gmail"><i class="fab fa-google-plus"></i></a></li>
        <li><a href="#" class="fb"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#" class="yt"><i class="fab fa-youtube"></i></a></li>
        <li><a href="#" class="pinterest"><i class="fab fa-pinterest"></i></a></li>
        <li><a href="#" class="ig"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a></li>
    </ul>
  </div>