<!DOCTYPE html>
<html lang="en">
<!--header-->
<%- include('./partials/header'); %>
<body>

                      <!--Navigation bar-->
<%- include('./partials/navbar'); %>



      <!--heading-->


<div class="heading">
     
  
  <h2>Business</h2>
</div>

    <div class="course-list-1 course-list">
      <a class="courses" href="/courselist/productmanagement">  <div class="boxes">
           <p>
  <svg xmlns="http://www.w3.org/2000/svg" id="outline" class="new-svg" viewBox="0 0 512 512" width="70px" height="70px"><path d="M24,472h93.38232A128.84653,128.84653,0,0,0,192,496h72.00049a23.99108,23.99108,0,0,0,22.62323-32H456a7.99977,7.99977,0,0,0,8-8V304h24a8,8,0,0,0,6.65625-12.4375l-32-48A7.99943,7.99943,0,0,0,456,240H424.56836l-7.687-7.687a9.42188,9.42188,0,0,1-2.00489-10.35352l.06153-.14892A9.37874,9.37874,0,0,1,423.63867,216H456a7.99977,7.99977,0,0,0,8-8V144a7.99977,7.99977,0,0,0-8-8H423.63867a9.37431,9.37431,0,0,1-8.6958-5.79883l-.09961-.23974a9.3923,9.3923,0,0,1,2.03809-10.27442l22.88281-22.8833a7.99915,7.99915,0,0,0,0-11.31348L394.50977,40.23584a7.9996,7.9996,0,0,0-11.31348,0L360.313,63.11865a9.39425,9.39425,0,0,1-10.28369,2.03418l-.21875-.09082A9.37874,9.37874,0,0,1,344,56.36133V24a7.99977,7.99977,0,0,0-8-8H272a7.99977,7.99977,0,0,0-8,8V56.36133a9.381,9.381,0,0,1-5.81641,8.70312l-.22216.09229A9.39353,9.39353,0,0,1,247.687,63.11865l-22.8833-22.88281a8,8,0,0,0-11.31348,0L168.23584,85.49023a7.99915,7.99915,0,0,0,0,11.31348l22.88281,22.8833a9.42188,9.42188,0,0,1,2.00489,10.35352l-.06153.14892A9.37874,9.37874,0,0,1,184.36133,136H152a7.99977,7.99977,0,0,0-8,8v64a7.99977,7.99977,0,0,0,8,8h32.36133a9.37431,9.37431,0,0,1,8.6958,5.79883l.09961.23974a9.3923,9.3923,0,0,1-2.03809,10.27442l-7.687,7.687H136a7.99943,7.99943,0,0,0-6.65625,3.5625l-32,48A8,8,0,0,0,104,304h24v88.04517c-.64917-.01368-1.29541-.04517-1.94678-.04517H104.79248L25.56885,376.15527A8.00053,8.00053,0,0,0,16,384v80A7.99977,7.99977,0,0,0,24,472Zm424-24H320V274.42188l17.34375,26.01562A7.99943,7.99943,0,0,0,344,304H448Zm25.05176-160H348.28125l-21.333-32H451.71875ZM207.937,215.91211c-.00244-.00635-.0415-.1001-.04394-.106l-.042-.10107A25.32767,25.32767,0,0,0,184.36133,200H160V152h24.36133a25.32767,25.32767,0,0,0,23.48974-15.70508l.042-.10107.04052-.09668a25.34261,25.34261,0,0,0-5.50146-27.72363L185.20605,91.147,219.147,57.20605l17.22657,17.22608A25.34048,25.34048,0,0,0,264.08789,79.937l.207-.08594A25.32767,25.32767,0,0,0,280,56.36133V32h48V56.36133a25.32544,25.32544,0,0,0,15.69922,23.4873l.20361.085a25.34575,25.34575,0,0,0,27.72363-5.50146L388.853,57.20605,422.794,91.147l-17.22608,17.22657a25.33822,25.33822,0,0,0-5.50488,27.71435c.00244.00635.0415.1001.04394.106l.042.10107A25.32767,25.32767,0,0,0,423.63867,152H448v48H423.63867a25.32767,25.32767,0,0,0-23.48974,15.70508l-.042.10107-.04052.09668A25.3196,25.3196,0,0,0,402.57355,240H364.39734a87.9988,87.9988,0,0,0,2.4469-125.60059l-11.42578,11.20118A72.00829,72.00829,0,0,1,337.002,240H271.03076a72.33638,72.33638,0,0,1-35.73584-42.397L220.03027,202.397A88.19237,88.19237,0,0,0,243.62531,240H205.42645A25.31218,25.31218,0,0,0,207.937,215.91211ZM140.28125,256H297.05176l-21.333,32H118.94824ZM144,304H280a7.99943,7.99943,0,0,0,6.65625-3.5625L304,274.42188V448l-65.37671.00146A23.9966,23.9966,0,0,0,216,416h-.00391l-28.76855.00586A89.17954,89.17954,0,0,0,144,393.79919Zm34.34424,125.6626a7.9995,7.9995,0,0,0,5.65722,2.34375h.00147L215.999,432a8,8,0,0,1,.00342,16H184v16l79.99951.00049A7.99976,7.99976,0,1,1,264.00049,480H192a112.7024,112.7024,0,0,1-67.2002-22.3999A7.99948,7.99948,0,0,0,120,456h-8V408h14.05322A73.46,73.46,0,0,1,178.34424,429.6626ZM32,393.7583l64,12.80029V456H32Z"/><path d="M304,224a48,48,0,1,0-48-48A48.05436,48.05436,0,0,0,304,224Zm0-80a32,32,0,1,1-32,32A32.036,32.036,0,0,1,304,144Z"/><rect x="240" y="336" width="16" height="16"/><rect x="192" y="336" width="32" height="16"/><rect x="216" y="368" width="56" height="16"/><rect x="176" y="368" width="24" height="16"/></svg>

            <br>
            Product Management
         </p>
        </div>   </a>
        
        <a href="#"><div class="boxes">
    <p> 
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" class="new-svg" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="70px" height="70px">
        <g>
          <path d="M326.623,133.062c13.785,0,25-11.215,25-25s-11.215-25.001-25-25.001s-25,11.216-25,25.001   c0,5.63,1.872,10.83,5.025,15.014l-41.076,57.401c-2.451-0.805-5.066-1.247-7.784-1.247c-6.569,0-12.551,2.551-17.017,6.709   l-27.379-15.536c0.365-1.696,0.561-3.454,0.561-5.257c0-13.785-11.215-25-25-25s-25,11.215-25,25c0,1.803,0.196,3.561,0.561,5.257   l-27.379,15.536c-4.466-4.158-10.448-6.708-17.017-6.708c-13.785,0-25,11.216-25,25.001s11.215,25.001,25,25.001   s25-11.216,25-25.001c0-1.803-0.196-3.561-0.561-5.257l27.379-15.536c4.466,4.158,10.448,6.709,17.017,6.709   c6.569,0,12.55-2.551,17.017-6.708l27.379,15.536c-0.365,1.696-0.561,3.454-0.561,5.257c0,13.785,11.215,25.001,25,25.001   c13.786,0,25.001-11.216,25.001-25.001c0-5.631-1.873-10.832-5.026-15.016l41.076-57.401   C321.289,132.62,323.905,133.062,326.623,133.062z M326.623,98.061c5.514,0,10,4.486,10,10.001c0,5.514-4.486,10-10,10   s-10-4.486-10-10C316.622,102.547,321.108,98.061,326.623,98.061z M120.115,214.231c-5.514,0-10-4.486-10-10.001   s4.486-10.001,10-10.001s10,4.486,10,10.001S125.629,214.231,120.115,214.231z M188.951,175.146c-5.514,0-10-4.486-10-10.001   c0-5.514,4.486-10,10-10s10,4.486,10,10C198.952,170.66,194.465,175.146,188.951,175.146z M257.787,214.231   c-5.514,0-10-4.486-10-10.001s4.486-10.001,10-10.001c5.515,0,10.001,4.486,10.001,10.001S263.301,214.231,257.787,214.231z"/>
          <path d="M418.796,376.965H366.31H80.428H21.215c-3.427,0-6.215-2.788-6.215-6.215V61.331c0-3.427,2.788-6.215,6.215-6.215h35.356   c4.142,0,7.5-3.357,7.5-7.5s-3.358-7.5-7.5-7.5H21.215C9.517,40.116,0,49.633,0,61.331V370.75c0,11.698,9.517,21.215,21.215,21.215   h51.713v16.506c0,9.403,7.65,17.053,17.053,17.053h75.074l-35.34,68.998c-1.888,3.687-0.431,8.206,3.256,10.095   c1.094,0.561,2.262,0.826,3.413,0.826c2.725,0,5.354-1.49,6.681-4.083l38.843-75.836h82.922l38.843,75.836   c1.328,2.593,3.956,4.083,6.681,4.083c1.151,0,2.319-0.267,3.413-0.826c3.687-1.889,5.145-6.408,3.256-10.095l-35.34-68.998h75.074   c9.403,0,17.053-7.649,17.053-17.053v-16.506h44.986c4.142,0,7.5-3.357,7.5-7.5S422.938,376.965,418.796,376.965z M358.81,408.471   c0,1.132-0.921,2.053-2.053,2.053H89.981c-1.132,0-2.053-0.921-2.053-2.053v-16.506H358.81V408.471z"/>
          <path d="M86.571,55.116h102.672h68.251h168.028c3.427,0,6.215,2.788,6.215,6.215v71.311c0,4.143,3.358,7.5,7.5,7.5   s7.5-3.357,7.5-7.5V61.331c0-11.698-9.517-21.215-21.215-21.215H264.995V25.374c0-10.375-8.441-18.816-18.817-18.816H200.56   c-10.375,0-18.817,8.441-18.817,18.816v14.742H86.571c-4.142,0-7.5,3.357-7.5,7.5S82.429,55.116,86.571,55.116z M196.743,25.374   c0-2.104,1.712-3.816,3.817-3.816h45.618c2.104,0,3.817,1.712,3.817,3.816v14.742h-53.251V25.374z"/>
          <path d="M104.902,267.576c-4.142,0-7.5,3.357-7.5,7.5v66.272c0,4.143,3.358,7.5,7.5,7.5h30.427c4.142,0,7.5-3.357,7.5-7.5v-66.272   c0-4.143-3.358-7.5-7.5-7.5H104.902z M127.829,333.849h-15.427v-51.272h15.427V333.849z"/>
          <path d="M173.737,229.248c-4.142,0-7.5,3.357-7.5,7.5v104.601c0,4.143,3.358,7.5,7.5,7.5h30.427c4.142,0,7.5-3.357,7.5-7.5V236.748   c0-4.143-3.358-7.5-7.5-7.5H173.737z M196.665,333.849h-15.427v-89.601h15.427V333.849z"/>
          <path d="M242.573,267.576c-4.142,0-7.5,3.357-7.5,7.5v66.272c0,4.143,3.358,7.5,7.5,7.5H273c4.142,0,7.5-3.357,7.5-7.5v-66.272   c0-4.143-3.358-7.5-7.5-7.5H242.573z M265.5,333.849h-15.427v-51.272H265.5V333.849z"/>
          <path d="M311.409,311.832c-4.142,0-7.5,3.357-7.5,7.5v22.017c0,4.143,3.358,7.5,7.5,7.5h30.427c4.142,0,7.5-3.357,7.5-7.5   s-3.358-7.5-7.5-7.5h-22.927v-14.517C318.909,315.189,315.551,311.832,311.409,311.832z"/>
          <path d="M508.175,384.019l-43.027-74.526c10.901-11.619,18.839-25.816,23.079-41.64c6.777-25.291,3.299-51.708-9.793-74.384   c-27.026-46.813-87.097-62.906-133.907-35.881c-46.811,27.025-62.906,87.096-35.88,133.907   c13.092,22.676,34.231,38.896,59.522,45.674c8.446,2.263,17.015,3.382,25.53,3.382c7.442,0,14.841-0.856,22.077-2.55l43.018,74.528   c5.273,9.137,14.875,14.25,24.737,14.249c4.833,0,9.729-1.229,14.208-3.813c8.796-5.077,14.261-14.544,14.261-24.706   C512,393.28,510.678,388.357,508.175,384.019z M372.051,322.68c-21.421-5.74-39.326-19.479-50.415-38.685   c-22.89-39.648-9.257-90.526,30.39-113.417c13.043-7.53,27.296-11.106,41.374-11.106c28.715,0,56.683,14.893,72.043,41.497   c11.088,19.206,14.034,41.58,8.294,63.002c-5.74,21.422-19.479,39.325-38.685,50.414   C415.847,325.474,393.473,328.418,372.051,322.68z M490.242,409.973c-6.453,3.726-14.733,1.508-18.456-4.942l-41.388-71.704   c4.148-1.693,8.21-3.673,12.156-5.951c3.949-2.28,7.689-4.818,11.23-7.566l41.4,71.707c1.188,2.061,1.816,4.393,1.816,6.743   C497,403.078,494.41,407.567,490.242,409.973z"/>
          <path d="M461.542,263.611c5.295-17.056,4.034-35.316-3.551-51.416c-1.766-3.748-6.234-5.354-9.981-3.589   c-3.748,1.766-5.354,6.234-3.588,9.981c5.983,12.7,6.976,27.109,2.795,40.575c-4.204,13.54-13.286,24.903-25.573,31.997   c-13.002,7.508-28.151,9.5-42.652,5.615c-14.502-3.886-26.624-13.187-34.13-26.189c-15.497-26.841-6.267-61.285,20.574-76.782   c19.625-11.329,43.98-9.815,62.051,3.857c3.304,2.5,8.007,1.849,10.506-1.455c2.499-3.303,1.848-8.007-1.456-10.506   c-22.891-17.321-53.745-19.238-78.602-4.887c-16.472,9.51-28.255,24.866-33.178,43.238s-2.396,37.562,7.114,54.034   c9.51,16.473,24.866,28.255,43.238,33.179c6.135,1.644,12.361,2.457,18.546,2.457c12.338,0,24.517-3.236,35.488-9.571   C444.71,295.163,456.216,280.767,461.542,263.611z"/>
        </g>
</svg>        
<br>
      Business Strategies
    </p>
        </div></a>
        
        <a href="#">  <div class="boxes">
            <p>  
              <svg id="light" class="new-svg" enable-background="new 0 0 24 24" height="70px" viewBox="0 0 24 24" width="70px" xmlns="http://www.w3.org/2000/svg"><path d="m13.5 24h-11c-1.378 0-2.5-1.122-2.5-2.5v-19c0-1.378 1.122-2.5 2.5-2.5h11c1.378 0 2.5 1.122 2.5 2.5v1c0 .276-.224.5-.5.5s-.5-.224-.5-.5v-1c0-.827-.673-1.5-1.5-1.5h-11c-.827 0-1.5.673-1.5 1.5v19c0 .827.673 1.5 1.5 1.5h11c.827 0 1.5-.673 1.5-1.5v-2c0-.276.224-.5.5-.5s.5.224.5.5v2c0 1.378-1.122 2.5-2.5 2.5z"/><path d="m10 3h-4c-.827 0-1.5-.673-1.5-1.5 0-.276-.224-.5-.5-.5h-1c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h1c.827 0 1.5.673 1.5 1.5 0 .276.224.5.5.5h4c.276 0 .5-.224.5-.5 0-.827.673-1.5 1.5-1.5h1c.276 0 .5.224.5.5s-.224.5-.5.5h-1c-.276 0-.5.224-.5.5 0 .827-.673 1.5-1.5 1.5z"/><path d="m16.258 14.838c-.128 0-.256-.049-.354-.146l-3.597-3.597c-.188-.188-.196-.491-.018-.688l2.946-3.271c2.094-2.417 5.414-4.083 8.256-4.136.132-.011.267.05.363.146.096.097.148.228.146.363-.053 2.842-1.719 6.162-4.144 8.261l-3.264 2.94c-.094.086-.214.128-.334.128zm-2.907-4.114 2.926 2.926 2.918-2.629c2.076-1.797 3.542-4.542 3.774-6.99-2.448.232-5.192 1.698-6.983 3.767z"/><path d="m17.604 17.21c-.045 0-.091-.006-.136-.019-.174-.049-.308-.188-.351-.365l-.707-2.95c-.064-.268.102-.538.37-.603.274-.062.539.102.603.37l.469 1.959c.869-1.359 1.042-3.098 1.06-4.115.005-.276.229-.487.509-.491.276.005.496.233.491.509-.042 2.366-.736 4.34-1.955 5.559-.095.095-.223.146-.353.146z"/><path d="m13.241 10.603c-.039 0-.078-.004-.117-.014l-2.95-.707c-.176-.042-.316-.175-.365-.35-.049-.174 0-.361.127-.489 1.219-1.219 3.193-1.913 5.559-1.955.265-.02.505.215.509.491s-.215.504-.491.509c-1.018.018-2.756.191-4.115 1.06l1.959.469c.268.064.434.334.37.603-.056.229-.26.383-.486.383z"/><path d="m9.5 18c-.131 0-.258-.051-.354-.146-.13-.13-.178-.321-.125-.497.165-.552 1.023-3.338 1.695-4.01.809-.81 2.126-.811 2.938 0 .81.81.81 2.128 0 2.938-.671.671-3.458 1.53-4.01 1.695-.048.013-.096.02-.144.02zm2.685-4.261c-.276 0-.552.105-.762.315-.284.284-.772 1.536-1.154 2.677 1.141-.382 2.394-.871 2.677-1.154.42-.42.42-1.104 0-1.523-.21-.21-.486-.315-.761-.315z"/></svg>
              <br> 
              Start Up
            </p>
        </div></a>
        
        <a href="#"> <div class="boxes">
            <p>
             <svg class="new-svg" id="outline" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m224.9082 33.60352-13.4375 22.39648h-123.4707a24.02718 24.02718 0 0 0 -24 24v392a24.02718 24.02718 0 0 0 24 24h336a24.02718 24.02718 0 0 0 24-24v-392a24.02718 24.02718 0 0 0 -24-24h-123.4707l-13.4375-22.396a36.25908 36.25908 0 0 0 -62.1836-.00048zm199.0918 38.39648a8.00917 8.00917 0 0 1 8 8v392a8.00917 8.00917 0 0 1 -8 8h-336a8.00917 8.00917 0 0 1 -8-8v-392a8.00917 8.00917 0 0 1 8-8h113.87061l-9.59961 16h-88.271a8.00008 8.00008 0 0 0 -8 8v360a8.00008 8.00008 0 0 0 8 8h304a8.00008 8.00008 0 0 0 8-8v-360a8.00008 8.00008 0 0 0 -8-8h-88.27051l-9.6001-16zm-213.206 64h90.4121a26.76656 26.76656 0 0 0 26.27735-32h72.51655v344h-288v-344h72.5166a26.76656 26.76656 0 0 0 26.2774 32zm45.206-104a20.35893 20.35893 0 0 1 17.37109 9.83545l37.09082 61.81738a10.79394 10.79394 0 0 1 -9.25586 16.34717h-90.41205a10.79306 10.79306 0 0 1 -9.25489-16.34766l37.08985-61.81689a20.35893 20.35893 0 0 1 17.37104-9.83545z"/><path d="m248 48h16v32h-16z"/><circle cx="256" cy="96" r="8"/><path d="m218.34277 338.34326-56 56 11.31446 11.31348 26.34277-26.34274v36.686h-48v-48h24v-16h-32a8.00008 8.00008 0 0 0 -8 8v64a8.00008 8.00008 0 0 0 8 8h64a8.00008 8.00008 0 0 0 8-8v-60.686l13.65723-13.65722z"/><path d="m240 368h24v16h-24z"/><path d="m280 368h88v16h-88z"/><path d="m312 400h24v16h-24z"/><path d="m240 400h56v16h-56z"/><path d="m162.34277 298.34326 11.31446 11.31348 26.34277-26.34274v36.686h-48v-48h24v-16h-32a8.00008 8.00008 0 0 0 -8 8v64a8.00008 8.00008 0 0 0 8 8h64a8.00008 8.00008 0 0 0 8-8v-60.686l13.65723-13.65722-11.31446-11.31348z"/><path d="m240 272h24v16h-24z"/><path d="m280 272h88v16h-88z"/><path d="m312 304h24v16h-24z"/><path d="m240 304h56v16h-56z"/><path d="m173.65723 213.65674 26.34277-26.34274v36.686h-48v-48h24v-16h-32a8.00008 8.00008 0 0 0 -8 8v64a8.00008 8.00008 0 0 0 8 8h64a8.00008 8.00008 0 0 0 8-8v-60.686l13.65723-13.65722-11.31446-11.31348-56 56z"/><path d="m240 176h24v16h-24z"/><path d="m280 176h88v16h-88z"/><path d="m312 208h24v16h-24z"/><path d="m240 208h56v16h-56z"/></svg>
             <br>
                Risk Management
            </p>
        </div></a>
       
    </div>

    <div class="course-list-2 course-list">
      <a href="#">  <div class="boxes">
           <p> 
             <svg class="new-svg" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><path d="m37 54h-2v-9.8a1 1 0 0 0 -2 0v9.8h-26v-20h8.32a1 1 0 0 0 0-2h-9.32a1 1 0 0 0 -1 1v21h-2a1 1 0 0 0 -1 1v2a5 5 0 0 0 5 5h26a5 5 0 0 0 5-5v-2a1 1 0 0 0 -1-1zm-1 3a3 3 0 0 1 -3 3h-2v-1a1 1 0 0 0 -2 0v1h-18v-1a1 1 0 0 0 -2 0v1h-2a3 3 0 0 1 -3-3v-1h32z"/><path d="m54 8h2a1 1 0 0 0 0-2h-2a3 3 0 0 0 -3 3v1h-1a1 1 0 0 0 0 2h1v3a1 1 0 0 0 2 0v-3h1a1 1 0 0 0 0-2h-1v-1a1 1 0 0 1 1-1z"/><path d="m59 2h-12a3 3 0 0 0 -3 3v2a1 1 0 0 0 2 0v-2a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v12a1 1 0 0 1 -1 1h-12a1 1 0 0 1 -1-1v-6a1 1 0 0 0 -2 0v6a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3v-12a3 3 0 0 0 -3-3z"/><path d="m49 42a4 4 0 1 0 4-4 4 4 0 0 0 -4 4zm6 0a2 2 0 1 1 -2-2 2 2 0 0 1 2 2z"/><path d="m59 33h-12a3 3 0 0 0 -3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3v-2a1 1 0 0 0 -2 0v2a1 1 0 0 1 -1 1h-12a1 1 0 0 1 -1-1v-12a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v6a1 1 0 0 0 2 0v-6a3 3 0 0 0 -3-3z"/><path d="m24.47 13.85a1 1 0 0 0 .53.15 1 1 0 0 0 .45-.11l6-3a1 1 0 0 0 0-1.78l-6-3a1 1 0 0 0 -1.45.89v6a1 1 0 0 0 .47.85zm1.53-5.23 2.76 1.38-2.76 1.38z"/><path d="m27 19a9 9 0 1 0 -9-9 9 9 0 0 0 9 9zm0-16a7 7 0 1 1 -7 7 7 7 0 0 1 7-7z"/><path d="m37 23a1 1 0 0 0 .8-.4l3-4a1 1 0 0 0 -1.6-1.2l-3 4a1 1 0 0 0 .2 1.4 1 1 0 0 0 .6.2z"/><path d="m39.2 26.6a1 1 0 0 0 .8.4 1 1 0 0 0 .6-.2l4-3a1 1 0 1 0 -1.2-1.6l-4 3a1 1 0 0 0 -.2 1.4z"/><path d="m49 28.8a1 1 0 0 0 -1.2-.8l-5 1a1 1 0 0 0 .2 2h.2l5-1a1 1 0 0 0 .8-1.2z"/><path d="m3 29h12a1 1 0 0 0 1-1v-16a1 1 0 0 0 -1-1h-12a1 1 0 0 0 -1 1v16a1 1 0 0 0 1 1zm1-16h10v14h-10z"/><path d="m11 15h-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2z"/><path d="m11 19h-4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2z"/><path d="m11 23h-4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2z"/><path d="m36.12 28.7a1 1 0 0 0 -1.74 1l4.41 7.63-16 6s0 0-.07 0h-.08l-2.6 1.5-1.73 1a2 2 0 0 1 -1.52.2 2 2 0 0 1 -1.21-.93l-2-3.46a2 2 0 0 1 .75-2.64l3.46-2 2.5 4.33a1 1 0 0 0 .87.5 1 1 0 0 0 .87-1.5l-2.58-4.46 12.55-10.35.41.71a1 1 0 1 0 1.74-1l-1-1.73a1 1 0 0 0 -.69-.48 1 1 0 0 0 -.82.21l-14 11.54-4.26 2.46a4 4 0 0 0 -1.84 4.53l-1 .57a3 3 0 0 0 .72 5.5 3 3 0 0 0 .78.1 3.06 3.06 0 0 0 1.5-.4l1-.57a3.88 3.88 0 0 0 1.75 1.04 3.79 3.79 0 0 0 1.05.14 3.94 3.94 0 0 0 2-.54l.87-.5 2 3.47a3 3 0 0 0 4.09 1.1 3 3 0 0 0 1.1-4.1l-1.82-3.17 15-5.63a1 1 0 0 0 .59-.6 1 1 0 0 0 -.07-.83zm-23.62 17.09a1 1 0 0 1 -.76.1 1 1 0 0 1 -.61-.46 1 1 0 0 1 -.1-.76 1 1 0 0 1 .47-.61l.87-.5 1 1.73zm13.16 2.8a1 1 0 0 1 .1.76 1 1 0 0 1 -.47.6 1 1 0 0 1 -1.36-.36l-2-3.47 1.66-.95h.08z"/></svg>
             <br>
                Digital Marketing
            </p>
        </div></a>
       
        <a href="#">  <div class="boxes" style="padding: 20px 20px;">
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" class="new-svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 512 512"><title>a2</title><path d="M140.544,95H190.7a6.273,6.273,0,0,0,4.243-10.608L174.7,64.082A131.034,131.034,0,0,1,364.168,91.143a6,6,0,0,0,9.83-6.9,143.057,143.057,0,0,0-207.83-28.754L144.787,34.112a5.638,5.638,0,0,0-6.311-1.3A5.8,5.8,0,0,0,135,38.354V88.513C135,91.826,137.231,95,140.544,95ZM147,52.839l14.541,14.769c.009.01-.1.021-.089.032.163.183.279.593.457.751L176.218,83H147Z"/><path d="M369,417H318.841a6.273,6.273,0,0,0-4.242,10.608l20.248,20.31a131.034,131.034,0,0,1-189.471-27.061,6,6,0,0,0-9.83,6.895,143.057,143.057,0,0,0,207.83,28.754l21.381,21.382A6,6,0,0,0,375,473.646V423.487C375,420.174,372.313,417,369,417Zm-6,42.161-14.769-14.769-.025-.032c-.162-.183-.336-.593-.514-.751L333.327,429H363Z"/><path d="M187.5,396c3.313,0,5.5-2.963,5.5-6.276V345.746c0-.167.243-.333.229-.5A37.317,37.317,0,0,0,172.9,315.039c-.21-.1-.128-.2-.349-.277L150,306.516v-7.689a6.227,6.227,0,0,0-3.405-5.29c-.179-.1-.483-.171-.668-.248l-.055-.01-11.686-4.8a64.727,64.727,0,0,0,37.58-54.365A20.924,20.924,0,0,0,183.6,210a17.045,17.045,0,0,0-9.51-11.548l1.054-15.289A67.946,67.946,0,0,0,57.683,132.13a67.272,67.272,0,0,0-18.115,51.038l1.053,15.268a17.038,17.038,0,0,0-9.549,11.569,20.943,20.943,0,0,0,11.869,24.12,64.678,64.678,0,0,0,37.676,54.387l-11.43,4.708.024.06c-.192.078-.62.158-.806.257A6.227,6.227,0,0,0,65,298.827v7.689l-22.616,8.246a4.38,4.38,0,0,0-.53.277,37.658,37.658,0,0,0-20.642,30.208c-.014.166-.212.332-.212.5v43.978A6.687,6.687,0,0,0,27.5,396H86.469L103.2,418.166a6.136,6.136,0,0,0,9.6.035L129.525,396Zm-64.7-55.669a5.9,5.9,0,0,0,2.714.595,6.027,6.027,0,0,0,4.8-2.435l15.416-20.572,11.988,4.318a37.463,37.463,0,0,0-10.653,23.015c-.013.165-.065.328-.065.494V384H130.874ZM68,384V345.746c0-.167.028-.333.014-.5a37.408,37.408,0,0,0-10.63-23.062L69.261,317.9l15.42,20.555a6,6,0,0,0,8.131,1.392l.526-.212L85.122,384Zm50.316-61.153,17.411-11.607L124.12,326.716ZM121,306.477l-13.526,9.159L94,306.511V292.87a60.028,60.028,0,0,0,13.327,1.445A59.367,59.367,0,0,0,121,292.792Zm-24.316,16.37-5.8,3.869L79.273,311.24ZM181,346.009V384H159V346.009c1-7.6,4.7-14.515,11-18.7C176.3,331.494,181,338.4,181,346.009ZM66.455,140.319a55.946,55.946,0,0,1,96.711,42.023l-.66,9.566-4.858-20.024a5.889,5.889,0,0,0-.31-.935,30.493,30.493,0,0,0-26.58-18.431l-5.719-.253a6.019,6.019,0,0,0-5.154,2.517,50.657,50.657,0,0,1-46.652,20.989l-9.614-1.034a8.4,8.4,0,0,0-9.274,7.685l-1.479,18.506-.046-.017-1.28-18.569A55.386,55.386,0,0,1,66.455,140.319ZM54.8,229.669a6,6,0,0,0-4.964-5.91,8.883,8.883,0,0,1-7.357-8.771,9.016,9.016,0,0,1,.254-2.13,5.045,5.045,0,0,1,1.905-2.923,10.711,10.711,0,0,0,2.13,1.456c.166.085.336.163.509.232,8.752,3.507,11.388,3.928,14.1,2.248a6.143,6.143,0,0,0,2.877-4.71l1.766-22.1,5.938.639a62.682,62.682,0,0,0,55.717-23.31l2.562.113a18.439,18.439,0,0,1,15.882,10.722l9.028,37.213a6,6,0,0,0,9.924,2.972l4.932-4.6c.168-.157.32-.326.478-.49a5.066,5.066,0,0,1,1.463,2.538,8.922,8.922,0,0,1-7.081,10.9,6.1,6.1,0,0,0-4.953,6A52.554,52.554,0,1,1,54.8,229.669ZM33,346.009a26.549,26.549,0,0,1,11.5-18.752A26.556,26.556,0,0,1,56,346.009V384H33Zm75,58.419L96.362,388.915l10.908-58.7.23-.153,1.381.921,10.751,57.936Z"/><path d="M435.107,158.729a80.769,80.769,0,0,0-60.691-22.02c-41.043,2.7-74.361,36.818-75.852,77.664a81.207,81.207,0,0,0,25.462,62.341,43.57,43.57,0,0,1,12.9,37.637l-.793,6.079a6.978,6.978,0,0,0,1.225,5.529A7.429,7.429,0,0,0,343.433,329H346v18.169A20.541,20.541,0,0,0,366.793,368h25.414A20.541,20.541,0,0,0,413,347.169V329h1.7c.08,0,.252.09.332.088a7.821,7.821,0,0,0,7.7-8.023c0-.056,0-.1-.007-.156l-.555-10.546v-.027a42.588,42.588,0,0,1,12.836-33.6c1.132-1.064,2.249-2.178,3.322-3.31a81.146,81.146,0,0,0-3.224-114.695ZM392.207,356H366.793c-4.633,0-8.47-3-9.127-7h43.668C400.677,353,396.84,356,392.207,356ZM401,337H358v-8h43Zm-21.5-72.12a7.018,7.018,0,1,1,7.017-7.018A7.025,7.025,0,0,1,379.5,264.88Zm64.628-22.959a68.619,68.619,0,0,1-14.512,23.254c-.914.965-1.865,1.914-2.841,2.831a54.381,54.381,0,0,0-16.584,42.913l.325,6.081H385V275.9a18.7,18.7,0,0,0,13.267-18.033,18.932,18.932,0,0,0-18.892-19.017,19.2,19.2,0,0,0-19.2,19.017A19.628,19.628,0,0,0,373,275.9V317H348.66l.159-1.129a55.491,55.491,0,0,0-16.546-47.919,69.124,69.124,0,0,1-21.717-53.133c1.269-34.794,29.666-63.844,64.6-66.138a69.166,69.166,0,0,1,68.976,93.24Z"/></svg>


              <br>
                Entrepreneurship
          </p>
        </div>   </a> 
        <a href="#">  <div class="boxes">
            <p>

              <svg id="Layer_3" enable-background="new 0 0 64 64" viewBox="0 0 64 64" class="new-svg" xmlns="http://www.w3.org/2000/svg"><g><path d="m62.707 48.793-11.543-11.543.836-.836.293.293c.195.195.451.293.707.293s.512-.098.707-.293l3-3c.391-.391.391-1.023 0-1.414l-5.707-5.707v-18.586c0-3.86-3.141-7-7-7h-38c-2.757 0-5 2.243-5 5v8c0 .552.447 1 1 1h7v43c0 2.757 2.243 5 5 5h36c2.757 0 5-2.243 5-5v-2c0-.552-.447-1-1-1h-3v-10.086l7.793 7.793c.195.195.451.293.707.293s.512-.098.707-.293l2.5-2.5c.391-.391.391-1.023 0-1.414zm-17.707-8.207-3.586-3.586 5.586-5.586 3.586 3.586zm-.414 2.414-1.586 1.586-5.586-5.586 1.586-1.586zm8.414-8.414-5.586-5.586 1.586-1.586 5.586 5.586zm-44-21.586h-6v-7c0-1.654 1.346-3 3-3s3 1.346 3 3zm44 45c0 1.654-1.346 3-3 3h-32.002c.629-.836 1.002-1.875 1.002-3v-1h34zm-4-3h-31c-.553 0-1 .448-1 1v2c0 1.654-1.346 3-3 3s-3-1.346-3-3v-52c0-1.13-.391-2.162-1.026-3h34.026c2.757 0 5 2.243 5 5v17c-.256 0-.512.098-.707.293l-3 3c-.391.391-.391 1.023 0 1.414l.293.293-5.586 5.586-.293-.293c-.391-.391-1.023-.391-1.414 0l-3 3c-.391.391-.391 1.023 0 1.414l7 7c.195.195.451.293.707.293s.512-.098.707-.293l3-3c.391-.391.391-1.023 0-1.414l-.293-.293.836-.836 1.75 1.75zm10.5-4.414-10.836-10.836 1.086-1.086 10.836 10.836z"/><path d="m14 19h33v2h-33z"/><path d="m14 27h29v2h-29z"/><path d="m14 23h33v2h-33z"/><path d="m14 11h33v2h-33z"/><path d="m14 7h33v2h-33z"/><path d="m14 15h33v2h-33z"/><path d="m14 31h27v2h-27z"/><path d="m22 35c-4.963 0-9 4.038-9 9s4.037 9 9 9 9-4.038 9-9-4.037-9-9-9zm0 16c-3.859 0-7-3.14-7-7s3.141-7 7-7 7 3.14 7 7-3.141 7-7 7z"/><path d="m22 39c-2.757 0-5 2.243-5 5s2.243 5 5 5 5-2.243 5-5-2.243-5-5-5zm0 8c-1.654 0-3-1.346-3-3s1.346-3 3-3 3 1.346 3 3-1.346 3-3 3z"/><path d="m39 49c0-.44-.288-.83-.71-.957-.42-.128-.878.035-1.122.402l-.336.504c-.856 1.284-2.289 2.051-3.832 2.051v2c1.745 0 3.392-.684 4.612-1.875.708 1.125 1.962 1.875 3.388 1.875h4v-2h-4c-1.103 0-2-.897-2-2z"/></g></svg>

              <br>
                Business Laws
             </p>
        </div></a>
        
        <a href="#">  <div class="boxes">
            <p>

              <svg id="Layer_5" enable-background="new 0 0 64 64" class="new-svg" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><g><path d="m17 23.764-.105-.211-1.789.895.105.211c.722 1.444 2.174 2.341 3.789 2.341s3.067-.897 3.789-2.342l.105-.211-1.789-.895-.105.212c-.381.762-1.147 1.236-2 1.236s-1.619-.474-2-1.236z"/><circle cx="23" cy="19" r="1"/><circle cx="15" cy="19" r="1"/><path d="m61 26.236 2.118-4.236-5.547-11.093c.824-.248 1.429-1.004 1.429-1.907v-2c0-1.103-.897-2-2-2h-28.641c-2.367-2.46-5.684-4-9.359-4-7.168 0-13 5.832-13 13v10.474c0 2.605-1.151 5.192-3.242 7.284-1.134 1.132-1.758 2.638-1.758 4.242 0 1.816.823 3.509 2.182 4.619-1.391 2.624-2.182 5.592-2.182 8.698 0 4.006 3.083 7.301 7 7.648v6.035h29v-6h24zm-5.618-15.236 5 10h-9.661l-3.334-10zm-10.102 0 3.333 10h-9.765l-1.668-10zm-10.127 0 1.666 10h-4.819v-7c0-1.034-.134-2.035-.363-3zm-3.153 13.474v-1.474h4.382l-1 2h-3.353c-.011-.175-.029-.351-.029-.526zm16.382-1.474-1 2h-6.764l-1-2zm12 0-1 2h-6.764l-1-2zm-3.382-16v2h-26.003c-.293-.701-.654-1.367-1.06-2zm-54 29c0-1.068.416-2.073 1.172-2.828 2.469-2.47 3.828-5.559 3.828-8.698v-10.474c0-6.065 4.935-11 11-11s11 4.935 11 11v10.474c0 3.14 1.359 6.229 3.828 8.698.756.755 1.172 1.76 1.172 2.828 0 1.107-.462 2.146-1.223 2.876-2.557-3.782-6.462-6.626-11.094-7.746l-.152-.304c3.125-.701 5.469-3.493 5.469-6.826v-5c0-2.757-2.243-5-5-5h-.382c-.25 0-.5-.059-.724-.171-.551-.275-.894-.83-.894-1.447v-.146c0-.998.555-1.896 1.447-2.342l-.895-1.789c-1.573.789-2.552 2.372-2.552 4.131v.146c0 1.379.767 2.619 2 3.236.5.25 1.06.382 1.618.382h.382c1.654 0 3 1.346 3 3v5c0 2.757-2.243 5-5 5h-4c-2.757 0-5-2.243-5-5v-7.528c0-1.143.636-2.171 1.658-2.683l.687-.344c.443 1.01 1.286 1.819 2.381 2.183l.957.319.633-1.896-.957-.32c-.813-.27-1.359-1.028-1.359-1.884 0-.758.421-1.439 1.098-1.778l.349-.174-.893-1.789-.351.174c-1.213.609-2.011 1.764-2.17 3.086l-1.269.634c-1.705.854-2.764 2.566-2.764 4.472v7.528c0 3.333 2.344 6.125 5.469 6.826l-.152.304c-4.629 1.12-8.532 3.961-11.089 7.74-.776-.748-1.228-1.775-1.228-2.87zm40 15h-2v-8h2zm4 0h-2v-12h2zm4 0h-2v-16h2zm-4-18v4h-4v4h-4v10h-2v-1.683c0-3.107-.791-6.075-2.183-8.7 1.374-1.135 2.183-2.817 2.183-4.617 0-1.604-.624-3.11-1.758-4.242-.245-.246-.476-.499-.695-.758h20.453v20h-2v-18zm-25 24v4h-8v-4zm1-2h-4v-4.586l1.121-1.121c.187-.187.444-.293.707-.293h.172c.552 0 1 .448 1 1v1h1c1.103 0 2 .897 2 2s-.897 2-2 2zm-1-7.825c-.313-.111-.649-.175-1-.175h-.172c-.801 0-1.555.313-2.121.879l-1.121 1.121-3.586-.002v-5.998h8zm-3.356-6.175-1.818-4h4.349l-1.818 4zm3.439-6h-6.167l-.791-1.74c.358-.103.716-.204 1.084-.283l.47-.101.939-1.876h2.764l.938 1.877.47.101c.368.079.726.18 1.084.283zm-19.083 14.317c0-3.326 1.011-6.474 2.752-9.127l.063-.084-.008-.006c1.799-2.705 4.369-4.878 7.424-6.173l3.216 7.073h-4.447v7.997l-2.999-.002c-.001-.058-.001-.116-.001-.174v-.216c0-2.16.634-4.253 1.832-6.051l-1.664-1.109c-1.418 2.128-2.168 4.604-2.168 7.16v.216c0 .424.021.849.063 1.271l.088.901 9.849.006v4.001h-8.317c-3.134 0-5.683-2.549-5.683-5.683zm7 7.683h2v4h-2zm25 4h-5v-5.901l.749-3.745c.167-.831.251-1.682.251-2.533v-.216c0-2.557-.75-5.032-2.168-7.16l-1.664 1.109c1.198 1.799 1.832 3.891 1.832 6.051v.216c0 .719-.071 1.438-.212 2.139l-.769 3.844-.016 6.196h-4.003v-4.142c1.721-.447 3-1.999 3-3.858s-1.279-3.417-3-3.864v-8.136h-2.447l3.215-7.073c6.073 2.575 10.232 8.622 10.232 15.39zm2-6v-2h20v-24h-23.814c-.347-.648-.618-1.318-.814-2h4.246l1.382-2.764 1.382 2.764h9.236l1.382-2.763 1.382 2.763h7.618v28z"/></g></svg>
              <br>
                Sales Skills
           </p>
        </div> </a>
       
    </div>
 
    <!--get in touch-->

<%- include('./partials/keepintouch'); %>








<!--footer-->

<%- include('./partials/footer'); %>
  

   <!--internal scripts-->

   <script>
    var a = 1 ;
    function show_hide() {
      if (a==1) {
        document.querySelector(".dashboard").style.display = "block";
        return a = 0;
      }else {
        document.querySelector(".dashboard").style.display = "none";
        return a = 1;
      }
    }
  </script>
  
  
</body>
</html>