body {
    margin: 0;
}

body a {
    color: black;
}

body a:hover {
    text-decoration: none;
}




/*heading*/

.heading {
    padding-top: 100px;
    color:  rgba(5, 5, 114, 0.952);
    text-align: center;
}

.heading h2 {
    font-size: 54px;
    font-weight: 900;
    padding-top: 10px;
}


/*course-lists*/
.container {
    width: 1200px;
}


.course-list {
    height: 400px;
    width: 1200px;
    display: inline-flex;
    padding: 20px 0 20px 0;
    text-align: left;
    color:  rgba(98, 98, 102, 0.911);
}

.course-list-3 {
    margin-bottom: 20px;
}

.course-list a {

    color:  rgba(5, 5, 114, 0.911);
}

.new-svg{
    fill:  rgba(13, 13, 189, 0.911);
    padding-top: 20px;
    height: 70px;
    width: 70px;
}

.course-list p{
    
    padding-top: 0;
    font-size: 24px;
    font-weight: 600;
}

.boxes {
    height: 400px;
    width: 350px;
}

.boxes {
    height: 400px;
    width: 350px;
    border: 1px solid rgb(233, 232, 232);
    padding: 20px 40px;
    margin-left: 20px;
}

.course-list-2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.go-btn {
    /*background:  rgba(5, 5, 114, 0.911);
    width: 150px;
    height: 50px;*/
    font-weight: bold;
    color: rgba(66, 66, 155, 0.911);
    border-radius: 6px;
    border: none;

}

.boxes a p {
    font-size: 16px;
    font-weight: bold;
}

/*.boxes:hover, .go-btn {
    background: white;
    color: blue;
}*/

.boxes:hover {
    background-color:  rgba(66, 66, 155, 0.911);
    color: white;
    transition: 0.4s all;
}

.boxes:hover .new-svg {
    fill: white;
}

.boxes:hover a {
    color: white;
}

.boxes:hover a p{
    color: white;
}

